部分テンプレート
.signup-background
  = form_for(@user, url: user_registration_path) do |f|
    .contents
      = render "devise/shared/error_messages", resource: @user
      .contents__title
        会員情報入力
      .contents__content
        .title
          .title__name
            ニックネーム
          .title__required
            必須
        .field
          = f.text_field :nickname, class: "field__input", placeholder: "　例)フリマ太郎"
      .contents__content
        .title
          .title__name
            メールアドレス
          .title__required
            必須
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "field__input", placeholder: "　PC・携帯どちらでも可"
      .contents__content
        .title
          .title__name
            パスワード
          .title__required
            必須
        .field
          = f.password_field :password, autocomplete: "new-password", class: "field__input", placeholder: "　7文字以上の半角英数字"
        .alert
          ※ 英字と数字の両方を含めて設定してください
      .contents__content
        .title
          .title__name
            パスワード(確認用)
          .title__required
            必須
        .field
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "field__input", placeholder: "　7文字以上の半角英数字"
      .submit-box
        = f.submit "次に進む", class: "submit-box__btn"
部分テンプレート