.buy
  = render partial: "buyers/sub-header"
  .content
    .content-top
      %h2.content-top__title 購入内容の確認
    .content
      .content__item
        .item-box
          .item-image
            = image_tag "#{@item.images[0].src}", class: 'item-image'
          .item-detail
            %p.detail-name
              =@item.name
            %p.detail-price
              =@item.price
              円(税込) 送料込み

      .content-user-info
        .content-inner
          %ul.price-table
            %li.price__left
              支払い金額
            %li.price__right
              =@item.price
              円
      .content-user-info      
        .content-inner
          %ul.payment-table
            %li.payment__left
              支払方法
            %li.payment__right
              = link_to "変更する", credit_card_path(current_user.id), method: :get, class:"update-btn"
            %br
          .user-info-text
            クレジットカード
          .form-group--card-number
            .card-number
              = "**** **** **** " + @card_info.last4
            .card__body__main__data
              = "有効期限" + @card_info.exp_month.to_s + " / " + @card_info.exp_year.to_s.slice(2,3) 
            .form-group--credit_logo
              = image_tag "/#{@card_src}", alt: @card_info.brand, width:"40", height: "25"

      .content-user-info
        .content-inner
          %ul.address-table
            %li.address__left
              配送先
            %li.address__right
              = link_to "変更する", "/addresses/new", class:"update-btn"
            %br
          .user-info-text
            〒
            =current_user.address.postal_code
            %br
            =current_user.address.prefectures
            =current_user.address.municipalities
            =current_user.address.street_number
            %br
            =current_user.address.last_name
            =current_user.address.first_name
      .content-user-info
        .content-inner
          = link_to pay_credit_card_path(@item.id),method: :post do
            .purchase-btn
              購入する

    = render partial: "buyers/sub-footer"