= render partial: "items/header"
= render partial: "items/menu"
.mypage
  .wrapper
    = render partial: "users/side_bar"
    .done
      .done__title
        クレジットカードの登録が完了しました！
      .done__backlink
        = link_to '商品購入ページへ', buy_credit_card_path(current_user.id), class: 'link' #商品詳細ページをマージしていないため、後程トップページへ戻るに書き換えるroo_path
      .done__backlink
        = link_to 'マイページに戻る', users_path(current_user.id), class: 'link'

= render partial: "items/footer"
= render partial: "items/post-btn"