= render partial: "items/header"
= render partial: "items/menu"
.mypage
  .wrapper
    = render partial: "users/side_bar"
    .done
      .done__title
        クレジットカードの登録が完了しました！
      .done__backlink
        = link_to 'トップページへ', root_path, class: 'link'
      .done__backlink
        = link_to 'マイページに戻る', users_path(current_user.id), class: 'link'

= render partial: "items/footer"