= render partial: "items/header"
= render partial: "items/menu"
.mypage
  .wrapper
    = render "side_bar"
  %section.email-password-content
    %h2.email-password-content__head
      メール/パスワード
    .email-password-content__form
      =form_with model: @モデルクラスのインスタンス, local: true do |f|
        .form-group
          .form-group-email
            %label.email メールアドレス
            .email-form
              = f.text_field :email, placeholder: "PC・携帯どちらでも可"
            %p.form-text
              メールアドレスを変更すると確認メールが送信されます。メール内のURLをクリックすると変更完了です。
          %ul.form-group-password
            %li.password-field
              %label.password 現在のパスワード
              .password-form
                = f.text_field :password
            %li.password-field
              %label.password 新しいパスワード
              .password-form
                = f.text_field :password, placeholder: "7文字以上の半角英数字"
              %p.form-text
                ※英字と数字の両方の含めて設定してください
            %li.password-field
              %label.password 新しいパスワード確認
              .password-form
                = f.text_field :password, placeholder: "新しいパスワードを再入力"
            %btn{type: "submit", class:"btn"}
              変更する    
= render partial: "items/footer"
= render partial: "items/post-btn"