= render partial: "items/header"
- breadcrumb :logout
= render partial: "items/menu"
.mypage
  .wrapper
    = render "side_bar"
  .logout-content
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn"
= render partial: "items/footer"
= render partial: "items/post-btn"