.bottom-image
  .bottom-image__contents
    .motto-s
      だれでもかんたん、人生を変えるフリマアプリ
    .motto-l
      今すぐ無料ダウンロード！
    .apps
      .apps__apple
        = link_to "#" do
          = image_tag "/apple.svg", size: "180x53"
      .apps__google
        = link_to "#" do
          = image_tag "/google.svg", size: "180x53"
.footer
  %ul.footer__lists
    %li.contents
      .contents__title
        FURIMAについて
      %ul.contents__list
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            会社概要（運営会社）
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            プライバシーポリシー
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            FURIMA利用規約
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            ポイントに関する特約
    %li.contents
      .contents__title
        FURIMAを見る
      %ul.contents__list
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            カテゴリー一覧
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            ブランド一覧
    %li.contents
      .contents__title
        ヘルプ＆ガイド
      %ul.contents__list
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            FURIMAガイド
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            FURIMAロゴ利用ガイドライン
        %li.content
          = link_to "#", class: "content--text-decoration_none" do
            お知らせ
  .footer__logos
    .upside
      = link_to root_path do
        = image_tag "/logo-white.png", size: "140x40"
    .downside
      © FURIMA