= render partial: "header"
= render partial: "menu"
.main
  .main__content
    .main__content--inner
      .item
        %h2.item__name
          = @item.name
        .item__body
          .images--outer
            .images
              = image_tag "#{@images[0].src}", class: "images--main"
              %ul.images--sub
                - @images.each do |image|
                  %li.images--sub__list
                    = image_tag "#{image.src}", class: "sub--add"
        .item__price 
          %span
            = "¥#{@item.price}"
          .item__price--add
            %span
              (税込)
            %span
              送料込み
        .item--detail
          = @item.detail
        .item__table
          %table.table
            %tbody
              %tr
                %th.table__left 出品者
                %td.table__right
                  = @item.user.nickname
              %tr
                %th.table__left カテゴリー
                %td.table__right
                  = link_to "#{@item.category.name}", "#", class:"table__right--add"
              %tr
                %th.table__left ブランド
                %td.table__right
                  = @item.brand.name
              %tr
                %th.table__left 商品のサイズ
                %td.table__right
              %tr
                %th.table__left 商品の状態
                %td.table__right
                  = @item.status
              %tr
                %th.table__left 配送料の負担
                %td.table__right
                  = @item.delivery_fee
              %tr
                %th.table__left 発送元の地域
                %td.table__right
                  = link_to "#{@prefecture.name}", "#", class:"table__right--add"
              %tr
                %th.table__left 発送日の目安
                %td.table__right
                  = @item.shipping_date
        .option
          .option__lists
            .like__btn
              = icon('fa','star')
              お気に入り 1
          .option__lists
            .alert__btn
              = link_to "#", class: "btn__content" do
                = icon('fa','flag')
                不適切な商品の通報
      .comment
        %form{action: "#", method: "post"}
          %textarea.comment__body{name: "message"}
          %p.comment__notice 
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
              深いな言葉遣いなどは利用制限や退会処分となることがあります。
          %btn{type: "submit", name: "button", class: "comment__btn"} 
            = icon('fa','comment')
            コメントする
      %ul.links
        %li
          = link_to "", class: "links__btn" do
            = icon('fa','angle-left')
            前の商品
        %li
          = link_to "", class: "links__btn" do
            後ろの商品
            = icon('fa','angle-right')
      .relate-item
        = link_to "#{@item.category.name}をもっと見る", "#", class:"item__more"
= render partial: "footer"
= render partial: "post-btn"
