.buy
  .header
    = render partial: "sub-header"
  .content
    .content-top
      %h2.content-top__title 購入内容の確認
    .content
      .content__item
        .item-box
          .item-image
            = image_tag'example1.jpg', class: 'item-image'
          .item-detail
            %p.detail-name
              古着 NIKE ナイキ Tシャツ デカロゴ ビッグプリント ネイビー紺
            %p.detail-price
              ¥10,000 (税込) 送料込み

      .content-user-info
        .content-inner
          %ul.price-table
            %li.price__left
              支払い金額
            %li.price__right
              ¥10,000
      .content-user-info      
        .content-inner
          %ul.payment-table
            %li.payment__left
              支払方法
            %li.payment__right
              = link_to "変更する", "#", class:"update-btn"
            %br
          .user-info-text
            クレジットカード
            %br
            ************2788
            %br
            有効期限07/23
            .card-logo
              = image_tag src='/assets/visa-4.svg', class: 'card-logo'

      .content-user-info
        .content-inner
          %ul.address-table
            %li.address__left
              配送先
            %li.address__right
              = link_to "変更する", "#", class:"update-btn"
            %br
          .user-info-text
            〒662-0864
            %br
            兵庫県西宮市越水町13-6
            %br
            織田 直宏
      .content-user-info
        .content-inner
          .purchase-btn
          = submit_tag("購入する", class:"purchase")

  .sub-footer
    = render partial: "sub-footer"

                

